<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link href="../scripts/style.css" rel="stylesheet"/>
</head>
<body>
    <main>
        <div class="header-container">
            <img alt="Davdi" src="../images/davdi_white.png" class="davdiwhite" />
            <div class="navbar">
                <button id="scrollButton" class="nav-button">About me</button>
                <a href="skills.html">
                    <button class="nav-button">My skills</button>
                </a>

                <a href="project.html">
                    <button class="nav-button">My project</button>
                 </a>
                
            </div>
            <h1 class="main-heading">DAVDI</h1>
            <p class="sub-heading">Its MyPortfolio<span class="animated-text"></span></p>
        </div>

        <div id="targetSection">
            <div class="aboutme-container">
                <img alt="Davdi" src="../images/davdi_black.png" class="davdiblack" />
                <p>David Abdullayev (aka Davdi)</p>
                <h4>My name is David. I am 14 years old. I live in Baku, Azerbaijan. I dream of becoming a programmer. I know how to make games and web games in Unity (C#), I know Python, write AI and chatbots in it, as well as combine JS, CSS and HTML in writing sites together (although the latter two are not languages, but I don't care). I also teach C++ (I hope it will work out)</h4>
            </div>
        </div>

        <div class="language-container">
            <p>My language skills</p>
            <img alt="Davdi" src="../images/ls.png" class="pramayawhite" />
    
        </div>

        <div class="kodland-container">
            <p>My finished cources</p>
            <img alt="Davdi" src="../images/kodland.png" class="pramayawhite" />
    
        </div>

        <div class="pl-container">
            <p>Programming languages</p>
            <h3>Programming languages I know</h3>
            <h4>Programming Languages I Want to Learn</h4>
            <img alt="Davdi" src="../images/pl.png" class="pramayawhite" />
    
        </div>

        <div class="program-container">
            <p>Programming languages</p>
            <h3>Programs and engines I work in</h3>
            <h4>Programs and engines I want to learn how to work</h4>
            <img alt="Davdi" src="../images/program.png" class="pramayawhite" />
    
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <h3>It's just a footer)</h3>
            <p>Don't judge strictly, I'm just learning and will become better.</p>
            <img alt="Davdi" src="https://www.codewars.com/users/David-Abdullayev22/badges/large">
            <ul class="socials">
                <li><a href="https://www.youtube.com/@davdiofficial7237"><img src="../images/youtube.png" alt="YouTube"></a></li>
                <li><a href="https://github.com/David-Abdullayev22"><img src="../images/github.png" alt="GitHub"></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 My portfolio | All rights reserved</p>
        </div>
    </footer>
    <script src="../scripts/script.js"></script>
</body>
</html>