<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт с объявлениями</title>
    <link rel="stylesheet" href="../scripts/styleskills.css">
</head>
<body>
    <header>
        <h1>My skills</h1>
        <div class="navbar">
            <a href="index.html">
                <button class="nav-button">About me</button>
            </a>

            <a href="project.html">
                <button class="nav-button">My project</button>
            </a>
        </div>
    </div>
    </header>

    <main>
        <div class="ad-container">
            <h3>Python</h3>
            <img alt="Davdi" src="../images/python.png" class="skillsimage" />
            <p>My Python skills</p>
            <ul>
                <li>There are skills for writing websites, chat bots, programs, AI and neural networks</li>
                <li>Knowledge of some libraries for example: Discord, Flask, SpeechRecognition, PyGame, Turtle, Jinja, BeautifulSoup, NLP, Kerras, Pillow etc</li>
                <li>Good knowledge and reading of syntax</li>
              </ul>
        </div>
        <div class="ad-container">
            <h3>C#</h3>
            <img alt="Davdi" src="../images/csharp.png" class="skillsimage" />
            <p>My C# skills</p>
            <ul>
                <li>Basic knowledge of the language and good reading of syntax</li>
                <li>Have the skills to write games and programs</li>
              </ul>
        </div>
        <div class="ad-container">
            <h3>Java Script</h3>
            <img alt="Davdi" src="../images/js.png" class="skillsimage" />
            <p>My Java Script skills</p>
            <ul>
                <li>Knowledge of libraries such as jQuery and anime.js</li>
              </ul>
        </div>
        <div class="ad-container">
            <h3>Unity</h3>
            <img alt="Davdi" src="../images/unity.png" class="unityimage" />
            <p>My Unity skills</p>
            <ul>
                <li>Excellent knowledge and a lot of experience with the engine and language (C#). I can make desktop, mobile games, games for TV and browser games. Different genres. In 2D and 3D. I posted my projects on Yandex Game and Google Play. In total, about 55,000 people played on Yandex game. I can work multiplayer on Photon and Mirror.</li>
              </ul>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>
</body>
</html>
