* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #2C2C2C; /* Тёмно-серый фон */
    color: #E0E0E0; /* Светлый текст */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2C2C2C; /* Нежно-зелёный фон хедера */
    color: #cbcbcb; /* Тёмно-зелёный текст */
    padding: 25px;
    text-align: center;
    border-bottom: 4px solid #68A87B;
}

header h1 {
    font-size: 2.2rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
    flex-grow: 1;
}

.nav-button {
    background-color: #6E6E6E; /* Серый фон */
    color: rgb(255, 255, 255); /* Белый текст */
    border: none; /* Убираем рамку */
    padding: 20px 25px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
    border-radius: 10px; /* Закругленные углы */
    cursor: pointer; /* Курсор указателя */
    font-weight: bold; /* Жирный текст */
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.nav-button:hover {
    background-color: #5a5a5a; /* Темно-серый фон при наведении */
}

.ad-container {
    background-color: #383838; /* Тёмно-серый контейнер */
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 255, 136, 0.2); /* Лёгкая зеленоватая тень */
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.ad-container:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 18px rgba(0, 255, 136, 0.3); /* Плавная зелёная тень при наведении */
}

.ad-container h3 {
    margin-bottom: 12px;
    color: #A2D9A6; /* Светло-зелёный заголовок */
    font-size: 1.6rem;
    border-bottom: 1px solid #68A87B;
    padding-bottom: 8px;
}

.ad-container p {
    color: #CFCFCF; /* Светло-серый текст описания */
    font-size: 1.1rem;
    line-height: 1.7;
}

.skillsimage{
    width: 500px;
}
.unityimage{
    width: 500px;
    margin-top: 150px;
}

footer {
    background-color: #2C2C2C; /* Нежный зелёный фон футера */
    color: #f7f7f7; /* Тёмно-зелёный текст футера */
    text-align: center;
    padding: 15px;
    border-top: 4px solid #68A87B;
}

@media (min-width: 400px) and (max-width: 899px){
    .skillsimage{
        width: 100px;
    }
    .unityimage{
        width: 200px;
    }
}

@media (min-width: 900px) and (max-width: 1499px){
    .skillsimage{
        width: 200px;
    }
    .unityimage{
        width: 200px;
    }

}

@media (min-width: 1500px) and (max-width: 2300px) {
    .skillsimage{
        width: 330px;
    }
    .unityimage{
        width: 330px;
    }

}
